<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>

<div>
    <th:block>
        <h1 th:text="'User Id - ' + ${user.getId()}"></h1>
        <h1 th:text="'User name - ' + ${user.getUsername()}"></h1>
        <h1 th:text="'Email - ' + ${user.getEmail()}"></h1>
        <th:block
                th:each="role : ${user.getRoles()}">
            <h1 th:text="${role}"></h1>
        </th:block>
    </th:block>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>